<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">users</a>
  <span class="breadcrumb-item active" aria-current="page">clients</span>
</nav>
<div class="container mt-4">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Id" />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- DateDebut Column -->
    <ng-container matColumnDef="dateDebut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Debut</th>
      <td mat-cell *matCellDef="let element">{{ element.dateDebut | date }}</td>
    </ng-container>

    <!-- Datefin Column -->
    <ng-container matColumnDef="dateFin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Fin</th>
      <td mat-cell *matCellDef="let element">{{ element.dateFin | date }}</td>
    </ng-container>

    <!-- Duree Column -->
    <ng-container matColumnDef="duree">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Durée</th>
      <td mat-cell *matCellDef="let element">{{ element.duree }}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <ng-container [ngSwitch]="element.status">
          <div *ngSwitchCase="'en attente'">
            <button
              mat-raised-button
              color="primary"
              (click)="approve(element)"
            >
              Accepter
            </button>
            <button mat-raised-button color="warn" (click)="reject(element)">
              Refuser
            </button>
          </div>
          <div *ngSwitchCase="'approuver'" class="status-icon">
            <mat-icon color="primary">check_circle</mat-icon> Accepté
          </div>
          <div *ngSwitchCase="'refuser'" class="status-icon">
            <mat-icon color="warn">cancel</mat-icon> Refusé
          </div>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
