<div class="container">
    <h2>Password Reset</h2>
    <form  (ngSubmit)="onSubmit()" class="needs-validation">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" formControlName="email" required>
        <div *ngIf="isSubmitted && formControls.email.errors" class="error-message">
          <div *ngIf="formControls.email.errors.required">Email is required.</div>
          <div *ngIf="formControls.email.errors.email">Invalid email address.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Reset Password</button>
      <div *ngIf="isRequestSuccessful" class="success-message">
        A password reset link has been sent to your email address.
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
  </div>
  