<div class="reviews">
    <h2>Reviews</h2>
    <div class="review-list">
      <div class="review-item">
        <div class="user-info">
          <img src="user-avatar.jpg" alt="A">
          <span class="username">John Doe</span>
        </div>
        <div class="rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star-half">&#9734;</span> 
        </div>
        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam mauris eget consectetur.</p>
      </div>
      <div class="review-item">
        <div class="user-info">
          <img src="user-avatar.jpg" alt="A">
          <span class="username">John Doe</span>
        </div>
        <div class="rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star-half">&#9734;</span> 
        </div>
        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam mauris eget consectetur.</p>
      </div>
      <div class="review-item">
        <div class="user-info">
          <img src="user-avatar.jpg" alt="A">
          <span class="username">John Doe</span>
        </div>
        <div class="rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star-half">&#9734;</span> 
        </div>
        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam mauris eget consectetur.</p>
      </div>
    </div>
  </div>
  