<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">users</a>
  <span class="breadcrumb-item active" aria-current="page">owners</span>
</nav>
<div class="container mt-5 py-5">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. name" />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>


    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>username</th>
      <td mat-cell *matCellDef="let element">{{ element.username}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
      <td mat-cell *matCellDef="let element">{{ element.email}}</td>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
                routerLink="/users/clients/{{ element.id }}"
                mat-raised-button
                color="primary"
              >
                More Info
              </button>
              <button
                (click)="updateOwner(element.id)"
                routerLink="/users/clients/update/{{ element.id }}"
                mat-raised-button
                color="accent"
                style="background-color: #FFC104;margin-right: 8px; display: inline-block;"
              >
                Update
              </button>
              <button
                (click)="deleteOwner(element.id)"
                mat-raised-button
                color="warn"
                style="display: inline-block;"
              >
                Delete
              </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
