.breadcrumb{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.01);
    padding-left: 20px;
}
.container{
    background-color: #fff;
    background-color: #F2F2F2F2;
    padding: 20px;
}
.needs-validation{
    background-color: #fff;
    padding: 40px;
}
.property-form {
    max-width: 600px;
    margin: auto;
  }
  
  .property-form .form-group {
    margin-bottom: 20px;
  }
  
  .property-form label {
    font-weight: bold;
  }
  
  .property-form input[type="text"],
  .property-form input[type="number"],
  .property-form textarea,
  .property-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .property-form textarea {
    height: 150px;
  }
  
  .property-form select {
    appearance: none;
  }
  
  .property-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .property-form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .property-form .error-message {
    color: #dc3545;
    font-size: 14px;
  }
  