<aside [ngClass]="{ 'aside-nav': isOpen }" class="d-flex py-4 flex-column">
  <div class="mx-auto my-3">
    <input
      (click)="ToggleOpen()"
      class="label-check"
      id="label-check"
      type="checkbox"
      [(ngModel)]="isOpen"
    />
    
    <label for="label-check" class="hamburger-label">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
      <label></label
    ></label>
  </div>
  <nav class="d-flex py-5 flex-column">
    <!-- tableau de bord -->
    <span
      routerLink="/statistiques"
      routerLinkActive="active-link"
      class="mx-auto nav-items w-100 py-3 ps-3"
    >
      <i style="font-size: 27px" class="bi bi-speedometer2"></i>
      @if (!isOpen) {<b> Tableau de Bord</b>}
    </span>
    <!-- users-->
    <span class="mx-auto nav-items w-100 py-3 ps-3" (click)="toggleSubMenu()"  routerLink="/users"
    routerLinkActive="active-link">
      <i style="font-size: 27px" class="bi bi-people-fill"></i>
      @if (!isOpen) {<b> Utilisateurs</b>}
    </span>
    <div *ngIf="showSubMenu" class="d-flex flex-column ms-4 ">
      <span class="mx-auto nav-items w-100 py-3 ps-3 hb" routerLink="/users/owners/">
        @if (!isOpen) {<b><i class="bi bi-person-plus-fill me-1"></i>add user</b>}
      </span>
      <span class="mx-auto nav-items w-100 py-3 ps-3 hb" routerLink="/users/owners/">
        @if (!isOpen) {<b><i class="bi bi-list"></i> list owners</b>}
      </span>
      <span class="mx-auto nav-items w-100 py-3 ps-3 hb" routerLink="/users/clients/">
        @if (!isOpen) {<b><i class="bi bi-list"></i>list clients</b>}
      </span>
    </div>
<!-- properties -->
    <span class="mx-auto nav-items w-100 py-3 ps-3" (click)="toggleSubMenu2()" routerLink="/properties"
    routerLinkActive="active-link">
      <i style="font-size: 27px" class="bi bi-house-fill"></i>
      @if (!isOpen) {<b> Properties</b>}
    </span>
    <div *ngIf="showSubMenu2" class="d-flex flex-column ms-4">
      <span class="mx-auto nav-items w-100 py-3 ps-3 hb" routerLink="/properties/create">
        @if (!isOpen) {<b> <i class="bi bi-house-add me-1"></i>add property</b>}
      </span>
      <span class="mx-auto nav-items w-100 py-3 ps-3 hb" routerLink="/properties">
        @if (!isOpen) {<b><i class="bi bi-list me-1"></i>list properties</b>}
      </span>
    </div>
<!-- bookings -->
    <span class="mx-auto nav-items w-100 py-3 ps-3" (click)="toggleSubMenu3()" routerLink="/bookings"
    routerLinkActive="active-link">
      <i style="font-size: 27px" class="bi bi-bookmark-check-fill"></i>
      @if (!isOpen) {<b> Bookings</b>}
    </span>
    <div *ngIf="showSubMenu3" class="d-flex flex-column ms-4">
      <span class="mx-auto nav-items w-100 py-3 ps-3 hb" routerLink="/bookings/create">
        @if (!isOpen) {<b> add booking</b>}
      </span>
      <span class="mx-auto nav-items w-100 py-3 ps-3 hb" routerLink="/bookings">
        @if (!isOpen) {<b><i class="bi bi-list"></i>list-bookings</b>}
      </span>
    </div>
    <!--  profile-->
    <span
    routerLink="/profile/{element.item}"
    routerLinkActive="active-link"
    class="mx-auto nav-items w-100 py-3 ps-3"
  >
  <i style="font-size: 27px" class="bi bi-person-fill"></i>
    @if (!isOpen) {<b> Profile</b>}
  </span>
  <!-- logout -->
  <span
      routerLink="/logout"
      routerLinkActive="active-link"
      class="mx-auto nav-items w-100 py-3 ps-3"
    >
    <i style="font-size: 27px" class="bi bi-box-arrow-right"></i>
      @if (!isOpen) {<b> logout</b>}
    </span>

  </nav>
</aside>
