.breadcrumb{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.01);
    padding-left: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  .detail-item {
    margin-bottom: 10px;
  }
  
  .detail-item strong {
    font-weight: bold;
  }
  
  .detail-item span {
    color: #777;
  }
  
  .loading {
    font-style: italic;
    color: #777;
  }
  